/* 
  --------------------
      Fonts
  --------------------
  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 
  --------------------
      Veriable
  --------------------
  */

:root {
  /* Primery Color */
  --primery-clr: #01a1a1;

  /* Font */
  --ff: "Poppins", sans-serif;
  --f-clr: #002f2f;

  /* Background Color */
  --bg-clr: #ffffff;
  --bg2-clr: #fafaff;
  --bg3-clr: #cbecf0;
  --bg4-clr: #d2faff;

  --black-clr: #222;
  --max-width: 1170px;
  --fixed-width-sqr: 800px;
  --fixed-width: 620px;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --spacing-m: 0.5rem;
  --spacing-l: 1rem;
  --radius: 1rem;
  --radius-2: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* 
  --------------------
      Global Style  
  --------------------
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 0.5px solid #80808080; */
}

::selection{
  background-color: var(--primery-clr);
}

body {
  overflow: auto;
  font-family: var(--ff);
  background: var(--bg2-clr);
  background-color: var(--bg2-clr);
  height: 100vh;
  overflow: hidden;
}

body::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--bg2-clr);
  margin: auto 15px;
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 2px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  text-align: center;
  display: flex;
  background: linear-gradient(
    0deg,
    var(--bg2-clr) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

footer a {
  margin: auto auto 0 auto;
  align-self: baseline;
  padding: 10px 10px 0 10px;
  font-size: 0.75rem;
  color: var(--primery-clr);
}

/* 
  --------------------
      Main Style  
  --------------------
  */

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .modal-box, .modal-content .content{
  width: 90vw;
  height: auto;
  max-width: var(--fixed-width);
  background: var(--bg-clr);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  padding: 10vh 0 8vh 0;
  text-align: center;
}
.modal-box h1 {
  font-size: 2rem;
  margin-bottom: 5vh;
  color: var(--primery-clr);
}
.modal-box button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 16px;
  margin: 10px 10px;
  background: transparent;
  text-transform: uppercase;
  transition: var(--transition);
  border-radius: var(--radius-2);
  border: 2px solid var(--black-clr);
}

.modal-box button:hover {
  color: var(--bg-clr);
  opacity: 0.9;
  background-color: var(--black-clr);
}

.modal-content {
  position: fixed;
  height: 100vh;  
  width: 100%;
  background-color: #002f2f80;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  transition-duration: 2s !important;

  display: none;
  opacity: 0;
}
.modal-content.show{
  display: grid;
  opacity: 1;
}

.modal-content .content{
  box-shadow: none;
  position: relative;
  max-width: var(--fixed-width-sqr);
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("Hero.jpg");
  background-position: center;
  background-size: cover;
  color: var(--bg-clr);
  z-index: 2;
}
.modal-content .content::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  opacity: 0.8;
  background: var(--black-clr);
  z-index: 3;
  border-radius: var(--radius);
}

.modal-content .content > *{
  z-index: 4;
}
.modal-content .content p {
  padding: 2rem;
}
.modal-content .content .close-btn{
  position: absolute;
  top: 0;
  right: 0;
  padding:10px;
  font-size: 1rem;
  cursor: pointer;
}
.modal-content .content .close-btn svg{
  height: 1rem;
}
.modal-content .content .close-btn svg > *{
  fill: var(--bg-clr);
}